@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz@9..144&family=Hanken+Grotesk&family=Libre+Franklin&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz@9..144&family=Hanken+Grotesk&family=Libre+Franklin&family=Montserrat&family=Ubuntu:wght@300&display=swap');

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;

}

body{
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.card{
    display: flex;
    width: 650px;
    margin: auto;
    border-radius: 25px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card-left{
    width: 50%;
}

.card-left img{
    border-radius: 25px 0 0 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-right{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
}

.card-right .title{
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue);
    align-items: center;
    padding: 0.5rem;
}

.card-right .title-1{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.5rem;
    padding: 0.5rem;
    align-items: center;
    color: var(--Very-dark-blue);
    font-weight: 900;
}

.card-right .info{
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    align-items: center;
    color: var(--Dark-grayish-blue);
}

.card-right .price{
    font-family: 'Fraunces', sans-serif;
    color: var(--Dark-cyan);
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    padding: 1rem;
    font-weight: 900;
}

.card-right .price span{
    text-decoration: line-through;
    font-size: 1rem;
    margin: auto;
    color: var(--Dark-grayish-blue);
    font-weight: 100;
}

.btn{
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--Dark-cyan);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    background-color: #21491f;
}

.btn img {
    margin-right: 10px;
}


@media screen and (max-width: 650px) {
    body{
        align-items: flex-start;
    }
    .card-container{
        flex-direction: column;
    }
    .card-left img{
        border-radius: 25px 25px 0 0;
        object-fit: cover;
        margin-top: 10px;
    }
    .card-left{
        display: block;
        margin: auto;
    }
    .card-right{
        display: block;
        margin: auto;
    }
    .btn{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 1rem 5rem;
    }
    .card-right .title{
        font-size: 1rem;
    }
    
    .card-right .title-1{
        font-size: 1.8rem;
        display: flex;
    }

    .card-right .price{
        font-size: 1.8rem;
    }
    
    .card-right .info{
        font-size: 1rem;
    }
}